<mat-toolbar class="d-flex justify-content-between">
    <div class="d-inline-flex">
        <div *ngIf="visibility">
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/calculations', 'explosions']"> Последствия взрывов ТВС</button>
                <button mat-menu-item [routerLink]="['/calculations', 'fires']"> Последствия лесных пожаров</button>
                <button mat-menu-item [routerLink]="['/calculations', 'chemical']"> Последствия заражения СДЯВ</button>
                <button mat-menu-item
                        [routerLink]="['/admin']"
                        *ngIf="userBtnVisibility"
                > Панель управления
                </button>
            </mat-menu>
        </div>
        <button mat-button style="cursor: pointer;" [routerLink]="['/main']">
            <h1>{{routeName}}</h1>
        </button>
    </div>
    <div *ngIf="visibility">
        <button mat-raised-button style="background-color: red; color: white"
                (click)="logout()">Выйти
        </button>
    </div>
</mat-toolbar>
