.card-links {
  text-decoration: none;

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }
}

.card-hover {
  transition: all .2s;
  &:hover {
    background-color: #303f9f;
    color: white;
    .hoverable {
      color: white;
    }
  }
}
