<div class="container-fluid my-3">
    <div class="row row-cols-1 row-cols-md-4 g-3">
        <ng-container *ngFor="let item of links">
            <a class="card-links click" [href]="item.Link">
                <div class="col h-100">
                    <mat-card class="card-hover h-100">
                        <mat-card-header>
                            <div mat-card-avatar
                                 [ngStyle]="{
                                'background-image': 'url(' + item.Logo + ')',
                                'background-size': 'cover'
                             }"
                            >
                            </div>
                            <mat-card-title class="hoverable">{{item.Title}}</mat-card-title>
                            <mat-card-subtitle class="hoverable">{{item.Description}}</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
            </a>
        </ng-container>
    </div>
</div>
