<div class="container-fluid">
  <div class="row">
    <div class="scroll col-12 col-md-12 col-xl-4 col-lg-4">
      <router-outlet></router-outlet>
    </div>
    <div class="col-12 col-md-12 col-xl-8 col-lg-8">
      <app-map></app-map>
    </div>
  </div>
</div>
