<app-loading *ngIf="spin === true"></app-loading>
<div class="m-1">
  <mat-vertical-stepper [linear]="true" #stepper>
    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>
    <mat-step [stepControl]="sfg1">
      <form [formGroup]="sfg1">
        <ng-template matStepLabel>
          <div class="text-wrap">
            Определение количества вещества по первичному и вторичному облаку
          </div>
        </ng-template>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Выберите вещество</mat-label>
          <mat-select formControlName="typeSdyav" (click)="getSdyav()" required>
            <mat-option *ngFor="let item of gases$ | async" [value]="item">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <section class="mb-3 my-1">
          <mat-checkbox
            (change)="noSdyav = !noSdyav"
            (click)="resetForm()"
          >Необходимое вещество отсутствует в списке
          </mat-checkbox>
        </section>

        <!--                РАСЧЕТ ВЕЩЕСТВ НЕ ИЗ ТАБЛИЦЫ 5>-->
        <section *ngIf="noSdyav">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Введите название вещества (с большой буквы)</mat-label>
            <input type="text" formControlName="nameSdyavNT5" matInput required>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Введите плотность вещества, т/м^3</mat-label>
            <input type="number" formControlName="sdyavDensity" matInput required>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Введите пороговую токсодозу вещества, мг*мин/л</mat-label>
            <input type="number" formControlName="threshold_toxodosis" matInput required>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Введите давление насыщенного пара, мм.рт.ст.</mat-label>
            <input type="number" formControlName="steamPressure" matInput required>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Введите молекулярную массу вещества</mat-label>
            <input type="number" formControlName="molecularMass" matInput required>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Введите удельную теплоёмкость, кдж/кг*град</mat-label>
            <input type="number" formControlName="specificHeat" matInput required>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Введите разность температур жидкого СДЯВ, ℃</mat-label>
            <input type="number" formControlName="temperatureDifference" matInput required>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Введите удельную теплоту испарения жидкого СДЯВ, кдж/кг</mat-label>
            <input type="number" formControlName="heatOfVaporization" matInput required>
          </mat-form-field>
        </section>
        <!--                   КОНЕЦ РАСЧЕТА ВЕЩЕСТВ НЕ ИЗ ТАБЛИЦЫ 5">-->

        <mat-form-field appearance="fill"
                        class="w-100"
                        *ngIf="sfg1.controls.typeSdyav.value"
        >
          <mat-label>Выберите состояние вещества</mat-label>
          <mat-select formControlName="stateSdyav" required>
            <mat-option
              value="gas"
              *ngIf="sfg1.controls.typeSdyav.value?.v_g"
            >Газообразное
            </mat-option>

            <mat-option
              value="liquid"
              *ngIf="sfg1.controls.typeSdyav.value?.v_w"
            >Жидкое
            </mat-option>
          </mat-select>
        </mat-form-field>

        <section class="mb-3 my-1"
                 *ngIf="sfg1.controls.stateSdyav.value === 'liquid'">
          <mat-checkbox
            (change)="isLiquefied = !isLiquefied"
          >Сжиженное состояние вещества
          </mat-checkbox>
        </section>

        <section class="mb-3 my-1">
          <mat-checkbox
            (change)="thereIsAmount = !thereIsAmount"
          >Количество вылевшегося яда известно
          </mat-checkbox>
        </section>


        <mat-form-field appearance="fill" class="w-100"
                        *ngIf="thereIsAmount || sfg1.controls.stateSdyav.value === 'liquid' && !isLiquefied">
          <mat-label>Введите кол-во выброшенного вещества при аварии, т</mat-label>
          <input type="number" formControlName="amountOfSubstanceReleased" matInput required>
        </mat-form-field>


        <!--                            расчёт газообразного состояния-->
        <section *ngIf="!thereIsAmount">
          <mat-form-field appearance="fill" class="w-100"
                          *ngIf="sfg1.controls.stateSdyav.value === 'gas'"
          >
            <mat-label>Введите содержание СДЯВ в природном газе, т/м^3</mat-label>
            <input type="number" formControlName="amountSubstanceInGas" matInput required>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100"
                          *ngIf="sfg1.controls.stateSdyav.value === 'gas'"
          >
            <mat-label>Введите объём секции газопровода между автоматическими отсекателями, м^3
            </mat-label>
            <input type="number" formControlName="volumeSectionBetweenValves" matInput required>
          </mat-form-field>
          <!--                            расчёт жидкого состояния-->
          <mat-form-field appearance="fill" class="w-100"
                          *ngIf="isLiquefied"
          >
            <mat-label>Введите объём хранилища, м^3</mat-label>
            <input type="number" formControlName="storageCapacity" matInput required>
          </mat-form-field>
        </section>

        <mat-form-field appearance="fill" class="w-100"
                        *ngIf="noSdyav"
        >
          <mat-label>Введите объём хранилища, м^3</mat-label>
          <input type="number" formControlName="storageCapacity" matInput required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100"
        >
          <mat-label>Введите время от начала аварии в часах</mat-label>
          <input type="number" formControlName="timeAfterCrash" matInput required>
        </mat-form-field>

        <mat-form-field appearance="fill"
                        class="w-100"
        >
          <mat-label>Куда произошёл разлив?</mat-label>
          <mat-select formControlName="whereSpillOccurred" required>
            <mat-option value="freeSpillage">Свободный разлив</mat-option>
            <mat-option value="intoPallet">В поддон/обваловку</mat-option>
            <mat-option value="intoCommonPallet">В ёмкости расположенные группой, имеющие общую
              обваловку/поддон
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100"
                        *ngIf="sfg1.controls.whereSpillOccurred.value === 'intoPallet'"
        >
          <mat-label>Введите высоту поддона, м</mat-label>
          <input type="number" formControlName="palletHeight" matInput required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100"
                        *ngIf="sfg1.controls.whereSpillOccurred.value === 'intoCommonPallet'"
        >
          <mat-label>Введите площадь разлива в поддон, м^2</mat-label>
          <input type="number" formControlName="areaOfSpill" matInput required>
        </mat-form-field>

        <!--                            конец расчёта для жиж-->


        <div>
          <button mat-mini-fab
                  [disabled]="!showResultForTaskOne"
                  matTooltip="Далее"
                  class="btn-primary"
                  matStepperNext>
            <mat-icon>arrow_downward</mat-icon>
          </button>
          <button mat-raised-button
                  matTooltip="Рассчитать"
                  class="mx-2 btn-success"
                  (click)="makeTaskOne()"
                  type="submit"
                  [disabled]="!sfg1.valid">
            <mat-icon>calculate</mat-icon>
          </button>
        </div>

        <ng-container *ngIf="showResultForTaskOne">
          <h3 class="mt-3">Ответы на первую задачу:</h3>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Эквивалентное количество Qэ1(т) вещества в первичном облаке</mat-label>
            <input type="number"
                   [(ngModel)]="first_air"
                   [ngModelOptions]="{ standalone: true }"
                   matInput
                   readonly/>
          </mat-form-field>
          <div class="w-100 mb-3" *ngIf="first_air == 0.00">Первичное облако не распространяется при данных
            условиях
          </div>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Эквивалентное количество Qэ2(т) вещества во вторичном облаке</mat-label>
            <input type="number"
                   [(ngModel)]="second_air"
                   [ngModelOptions]="{ standalone: true }"
                   matInput
                   readonly/>
          </mat-form-field>
          <div class="w-100" *ngIf="second_air == 0.00">Вторичное облако не распространяется при данных
            условиях
          </div>
        </ng-container>
      </form>
    </mat-step>

    <mat-step [stepControl]="sfg2">
      <form [formGroup]="sfg2">
        <ng-template matStepLabel>
          <div class="text-wrap">
            Расчет глубины зоны заражения при аварии на химически опасном объекте
          </div>
        </ng-template>

        <div class="d-flex flex-row w-100 my-2">
          <button mat-mini-fab matStepperPrevious matTooltip="Назад" class="btn-primary">
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button mat-mini-fab
                  matTooltip="Далее"
                  class="btn-primary mx-2"
                  [disabled]="!sfg1.controls.timeAfterCrash.valid"
                  matStepperNext>
            <mat-icon>arrow_downward</mat-icon>
          </button>
          <button mat-raised-button matTooltip="Рассчитать" class="mx-2 btn-success" (click)="makeTaskTwo()">
            <mat-icon>calculate</mat-icon>
          </button>
        </div>

        <ng-container *ngIf="showResultForTaskTwo">
          <h3 class="mt-3">Ответы на вторую задачу:</h3>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Глубина зоны заражения, км</mat-label>
            <input type="number"
                   [(ngModel)]="deptZoneTrue"
                   [ngModelOptions]="{ standalone: true }"
                   matInput
                   readonly/>
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Направление ветра, градус</mat-label>
            <input type="number"
                   [(ngModel)]="wind_degree"
                   [ngModelOptions]="{ standalone: true }"
                   matInput
                   readonly/>
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Угол сектора</mat-label>
            <input type="number"
                   [(ngModel)]="mapsAngle"
                   [ngModelOptions]="{ standalone: true }"
                   matInput
                   readonly/>
          </mat-form-field>
        </ng-container>
      </form>
    </mat-step>

    <mat-step [stepControl]="sfg4">
      <form [formGroup]="sfg4">
        <ng-template matStepLabel>
          <div class="text-wrap">
            Определение площади заражения
          </div>
        </ng-template>
        <div class="d-flex flex-row w-100 my-2">
          <button mat-mini-fab matStepperPrevious matTooltip="Назад" class="btn-primary">
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button mat-mini-fab
                  matTooltip="Далее"
                  class="mx-2 btn-primary"
                  matStepperNext>
            <mat-icon>arrow_downward</mat-icon>
          </button>
          <button mat-raised-button matTooltip="Рассчитать" class="mx-2 btn-success" (click)="makeTaskFour()">
            <mat-icon>calculate</mat-icon>
          </button>
        </div>
      </form>

      <ng-container *ngIf="showResultForTaskFour">
        <h3 class="mt-3">Ответы на четвертую задачу:</h3>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Площадь зоны фактического заражения</mat-label>
          <input type="number"
                 [(ngModel)]="area_Infection_true"
                 [ngModelOptions]="{ standalone: true }"
                 matInput
                 readonly/>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Площадь зоны возможного заражения</mat-label>
          <input type="number"
                 [(ngModel)]="area_infection_possible"
                 [ngModelOptions]="{ standalone: true }"
                 matInput
                 readonly/>
        </mat-form-field>
      </ng-container>
    </mat-step>

    <mat-step [stepControl]="sfg6">
      <form [formGroup]="sfg6">
        <ng-template matStepLabel>
          <div class="text-wrap">
            Определение продолжительности поражающего действия СДЯВ
          </div>
        </ng-template>

        <div class="d-flex flex-row w-100 my-2">
          <button mat-mini-fab matStepperPrevious matTooltip="Назад" class="btn-primary">
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button mat-raised-button matTooltip="Рассчитать" class="mx-2 btn-success" (click)="makeTaskSix()">
            <mat-icon>calculate</mat-icon>
          </button>
          <button mat-raised-button
                  matTooltip="К началу"
                  class="btn-danger"
                  matStepperNext>
            <mat-icon>first_page</mat-icon>
          </button>
        </div>
      </form>
      <ng-container *ngIf="showResultForTaskSix">
        <h3 class="mt-3">Ответы на шестую задачу:</h3>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Продолжительность поражающего действия СДЯВ</mat-label>
          <input type="number"
                 [(ngModel)]="time_infection_action_first"
                 [ngModelOptions]="{ standalone: true }"
                 matInput
                 readonly/>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Продолжительность поражающего действия СДЯВ</mat-label>
          <input type="number"
                 [(ngModel)]="time_infection_action_second"
                 [ngModelOptions]="{ standalone: true }"
                 matInput
                 readonly/>
        </mat-form-field>
      </ng-container>
    </mat-step>
  </mat-vertical-stepper>

  <mat-divider class="w-100 mt-2 mb-4"></mat-divider>

  <mat-vertical-stepper [linear]="false" class="mb-4" #optionalStepper>
    <ng-template matStepperIcon="number">
      <mat-icon>hourglass_empty</mat-icon>
    </ng-template>

    <mat-step [stepControl]="sfg3" [optional]="true" class="optionalStep">
      <form [formGroup]="sfg3" [ngStyle]="{'max-height': '65vh','overflow': 'auto', 'overflow-x': 'hidden'}">
        <ng-template matStepLabel>
          <div class="text-wrap">
            Расчет глубины зоны возможного заражения химически опасного объекта
          </div>
        </ng-template>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Выберите вещество</mat-label>
          <mat-select formControlName="namesCtrl" (valueChange)="selected($event)">
            <mat-option *ngFor="let item of gases$ | async" [value]="item">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-chip-list required>
            <mat-chip *ngFor="let item of names"
                      [selectable]="true"
                      [removable]="true"
                      (removed)="remove(item)">
              {{item.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100"
        >
          <mat-label>Введите время от начала аварии в часах</mat-label>
          <input type="number" formControlName="timeAfterCrash" matInput required>
        </mat-form-field>


        <section class="mb-3 my-1" *ngFor="let item of names; index as i">
          <h3>{{item.name}}</h3>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Введите кол-во выброшенного вещества при аварии, т</mat-label>
            <input type="text" [formControl]="q0.controls[i]" matInput required>
          </mat-form-field>
          <mat-form-field appearance="fill"
                          class="w-100"
          >
            <mat-label>Выберите состояние вещества</mat-label>
            <mat-select [formControl]="stateSdyav.controls[i]" required>
              <mat-option
                value="gas"
                *ngIf="names[i]?.v_g"
              >Газообразное
              </mat-option>
              <mat-option
                value="liquid"
                *ngIf="names[i]?.v_w"
              >Жидкое
              </mat-option>
              <mat-option
                value="liquidComp"
                *ngIf="names[i]?.v_w"
              >Сжиженное состояние вещества
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-divider></mat-divider>
        </section>
      </form>

      <div class="d-flex flex-row w-100">
        <button mat-mini-fab matStepperPrevious matTooltip="Назад" class="btn-primary">
          <mat-icon>arrow_upward</mat-icon>
        </button>
        <button mat-mini-fab
                matTooltip="Далее"
                class="mx-2 btn-primary"
                [disabled]="!(sfg3.valid && q0.valid && stateSdyav.valid)"
                matStepperNext>
          <mat-icon>arrow_downward</mat-icon>
        </button>
        <button mat-raised-button matTooltip="Рассчитать" class="mx-2 btn-success"
                [disabled]="!(sfg3.valid && q0.valid && stateSdyav.valid)"
                (click)="makeTaskThree()">
          <mat-icon>calculate</mat-icon>
        </button>
      </div>

      <ng-container *ngIf="showResultForTaskThree">
        <h3 class="mt-3">Ответы на третью задачу:</h3>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Возможная зона заражения, км</mat-label>
          <input type="number"
                 [(ngModel)]="deptZonePossible"
                 [ngModelOptions]="{ standalone: true }"
                 matInput
                 readonly/>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Направление ветра, градус</mat-label>
          <input type="number"
                 [(ngModel)]="wind_degree"
                 [ngModelOptions]="{ standalone: true }"
                 matInput
                 readonly/>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Угол сектора</mat-label>
          <input type="number"
                 [(ngModel)]="mapsAngle"
                 [ngModelOptions]="{ standalone: true }"
                 matInput
                 readonly/>
        </mat-form-field>
      </ng-container>
    </mat-step>

    <mat-step [stepControl]="sfg5" [optional]="true" class="optionalStep">
      <form [formGroup]="sfg5">
        <ng-template matStepLabel>
          <div class="text-wrap">
            Определение времени подхода зараженного воздуха к объекту
          </div>
        </ng-template>

        <section class="mb-3 my-1">
          <mat-checkbox value="1"
                        [(ngModel)]="makeSecMarkerOnMap"
                        [ngModelOptions]="{ standalone: true }"
                        (click)="setSecondMarker()"
          >Указать на карте расстояние до объекта
          </mat-checkbox>
        </section>

        <mat-form-field appearance="fill" class="w-100" *ngIf="makeSecMarkerOnMap">
          <mat-label>Расстояние до объекта, км</mat-label>
          <input type="text" formControlName="objectDistance"
                 matInput readonly>
        </mat-form-field>

        <div class="d-flex flex-row w-100 my-2">
          <button mat-mini-fab matStepperPrevious matTooltip="Назад" class="btn-primary">
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button mat-mini-fab
                  matTooltip="Далее"
                  class="mx-2 btn-primary"
                  [disabled]="!sfg5.valid"
                  matStepperNext>
            <mat-icon>arrow_downward</mat-icon>
          </button>
          <button mat-raised-button matTooltip="Рассчитать" class="mx-2 btn-success"
                  [disabled]="!sfg5.controls.objectDistance.value"
                  (click)="makeTaskFive()">
            <mat-icon>calculate</mat-icon>
          </button>
        </div>
      </form>
      <ng-container *ngIf="showResultForTaskFive">
        <h3 class="mt-3">Ответы на пятую задачу:</h3>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Время подхода заражённого облака к объекту</mat-label>
          <input type="number"
                 [(ngModel)]="time_to_dept"
                 [ngModelOptions]="{ standalone: true }"
                 matInput
                 readonly/>
        </mat-form-field>
      </ng-container>
    </mat-step>
  </mat-vertical-stepper>
</div>
