.match-parent {
  height: calc(100vh - 90px);
  margin-top: 10px;
}

.btn-danger {
  background-color: red !important;
}

mat-form-field {
  position: absolute;
  border-radius: 3px;
  left: 0.7rem;
  bottom: 3rem;
  padding: 0px 5px;
  font-size: 14px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;

  ::ng-deep {
    .mat-form-field-wrapper {
      margin-bottom: -1em;
    }

    .mat-form-field-flex {
      padding-top: 0 !important;
    }

    .mat-form-field-prefix {
      align-self: flex-end;
    }
  }
}
.map-style{
  height: 28px;
}
.mat-form-field-wrapper {
  padding: 0 !important;
}
