<div id="map" class="match-parent">
  <mat-form-field appearance="standard">
    <mat-icon class="map-style" matPrefix>terrain</mat-icon>
    <mat-select [(value)]="selectedStyle" (selectionChange)="onChange()">
      <mat-option *ngFor="let style of styles" value="{{style.style}}">{{style.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button matTooltip="Очистить карту" matTooltipPosition="left"
          style="position: absolute; right: 1rem; bottom: 3rem;"
          class="btn-danger" (click)="clearMap(false)">
    <mat-icon>layers_clear</mat-icon>
  </button>
</div>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css"
      type="text/css">
