<div class="body container-fluid d-flex flex-column align-items-center my-auto py-2">
    <div class="my-3 d-flex flex-row justify-content-center">
        <span class="display-1">ExFire</span>
        <img src="../../../assets/exfireIcon.svg" width="32" height="32" class="img-fluid mx-3" alt="...">
    </div>
    <div class="container-fluid row justify-content-center">
        <ng-container *ngFor="let task of tasks">
            <div class="expandable col-12 col-md-12 col-xl-3 col-lg-3 m-3 p-0"
                 [ngStyle]="{
                        'background-color': '#828385',
                        'background-image': 'url(' + task.Photo + ')',
                        'background-size': 'cover',
                        'background-position': 'center',
                        'background-repeat': 'no-repeat',
                        'border-radius': '5px'
                    }"
                 [routerLink]="['/calculations', task.Link]">
                <div class="d-flex flex-column h-100 blur-container">
                    <div class="expandable-header d-flex align-items-center justify-content-center px-2">
                        <p class="title text-center text-light h3">{{task.Title}}</p>
                    </div>
                    <ul class="list-group list-group-flush px-2">
                        <ng-container *ngFor="let item of task.Tasks">
                            <li class="list-group-item text-center h6 text-light">{{item}}</li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </ng-container>
    </div>
</div>
