.expandable {
  max-height: 80vh;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.expandable:hover {
  cursor: pointer;
  -webkit-box-shadow: -11px 12px 9px -6px rgba(34, 60, 80, 0.57);
  -moz-box-shadow: -11px 12px 9px -6px rgba(34, 60, 80, 0.57);
  box-shadow: -11px 12px 9px -6px rgba(34, 60, 80, 0.57);
  transform: translate3d(0, -5px, 0);
}

.expandable-header {
  height: 15vh;
}

.blur-container {
  backdrop-filter: blur(2px) brightness(65%);
  -webkit-backdrop-filter: brightness(65%);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
.list-group-item {
  color: #282828;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
  background-color: transparent;
}

.btn {
  white-space: normal;
}

@media (max-width: 1022px) {
  .expandable {
    display: unset;
    max-height: 11vh;
  }
  .expandable:hover {
    max-height: 100vh;

    .expandable-header{
      margin-bottom: 0;
    }
  }
  .expandable-header {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
}
// ipad
@media (height: 1024px) and (width: 768px)  {
  .expandable-header{
    margin-top: 2rem;
  }
}

