/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/theming';
//
//@include mat-core();
//
//$my-app-primary: mat-palette($mat-gray, A200, A400, A100);
//$my-app-accent: mat-palette($mat-pink, A100, A100, A400);
//$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);
//
//@include angular-material-theme($my-app-theme);
@import '~ngx-toastr/toastr';
@import '~@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
html, body {
  min-height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #a2a2a2 transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(162, 162, 162, 0.5);
  border: transparent;
  border-radius: 2px;
}

button {
  outline: none !important;
}

.mat-spin {
  margin: 0;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5000;
}

.mat-mini-fab {
  box-shadow: none !important;
}

.btn-primary {
  background-color: royalblue !important;

  &:hover,
  &:focus,
  &:active {
    background-color: darken(royalblue, 5%) !important;
  }
}

.btn-primary:disabled {
  background-color: #E0E0E0 !important;
}

.btn-success {
  background-color: #15ac15 !important;

  &:hover,
  &:focus,
  &:active {
    background-color: darken(#15ac15, 5%) !important;
  }
}

.btn-success:disabled {
  background-color: #E0E0E0 !important;
}

.btn-danger {
  background-color: red !important;

  &:hover,
  &:focus,
  &:active {
    background-color: #be1717 !important;
  }
}

.btn-danger:disabled {
  background-color: #E0E0E0 !important;
}
