<app-loading *ngIf="spin === true"></app-loading>
<div class="m-1" style="overflow: paged-y">
  <mat-vertical-stepper [linear]="true" #stepper>
    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>
    <mat-step [stepControl]="sfg1" [optional]="false" class="optionalStep">
      <form [formGroup]="sfg1">
        <ng-template matStepLabel>
          <div class="text-wrap">
            Оценка последствий аварийных взрывов топливно-воздушных смесей
          </div>
        </ng-template>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Выберите вещество</mat-label>
          <mat-select formControlName="substance" (click)="getSubstance()" (valueChange)="selected($event)" required>
            <mat-option *ngFor="let item of substances$ | async" [value]="item">{{item.substance}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="this.selectedSubstance === true" class="mat-hint">
          <p>Размер детанационной ячейки от min до max: {{detonationCellMin}} - {{detonationCellMax}}</p>
          <p>Состояние вещества: {{condition}}</p>
        </div>

        <section class="mb-3 my-1">
          <mat-checkbox
            (change)="substance = !substance">
            Необходимое вещество отсутствует в списке
          </mat-checkbox>
        </section>

        <section *ngIf="substance">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Выберите состояние вещества</mat-label>
            <mat-select formControlName="condition" required>
              <mat-option value="г">Газ</mat-option>
              <mat-option value="гет">Гетроген</mat-option>
            </mat-select>
          </mat-form-field>
        </section>

        <section class="mb-3 my-1">
          <mat-checkbox
            class="text-break"
            (change)="Cr = !Cr">
            <div class="text-wrap">
              Неизвестна концентрация горючего вещества в облаке ТВС, кг/м³
            </div>
          </mat-checkbox>
        </section>

        <section *ngIf="!Cr">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Введите концентрацию горючего вещества в облаке ТВС, кг/м³</mat-label>
            <input type="number" formControlName="Cr" matInput required>
          </mat-form-field>
        </section>

        <div class="alert alert-warning mb-3 text-wrap" style="font-size: 0.75rem; line-height: 1em;"
             *ngIf="!Cr && showWarning">При значении концентрации горючего вещества меньше, чем
          стехиометрической концентрации вещества расчет будет
          производиться без учета концентрации горючего вещества.
        </div>

        <mat-form-field appearance="fill" class="w-100 text-wrap" *ngIf="Cr">
          <mat-label>Введите число молей кислорода, необходимое для полного сгорания одного моля горючего вещества
          </mat-label>
          <input type="number" formControlName="N" matInput required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100 text-wrap">
          <mat-label>Введите стехиометрическую концентрацию вещества в смеси с воздухом, кг/м³</mat-label>
          <input type="number" formControlName="Cst" matInput required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100 text-wrap">
          <mat-label>Введите массу горючего вещества, кг</mat-label>
          <input type="number" formControlName="Mr" matInput required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Выберите вид пространства</mat-label>
          <mat-select formControlName="env_area_type" required>
            <mat-option [value]="1">Вид 1. Наличие длинных труб, полостей, каверн,
              заполненных горючей смесью, при сгорании которой возможно ожидать формирование турбулентных струй
              продуктов
              сгорания с размером не менее трех размеров детонационной ячейки данный смеси.
            </mat-option>
            <mat-option [value]="2">Вид 2. Сильно загроможденное пространство: наличие полузамкнутных объемов, высокая
              плотность размещения технологического оборудования, лес, большое количество
              повторяющихся препятствий.
            </mat-option>
            <mat-option [value]="3">Вид 3. Средне загроможденное пространство: отдельно стоящие технологические
              установки, резервуарный парк.
            </mat-option>
            <mat-option [value]="4">Вид 4. Слабо загроможденное и свободное пространство.</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="mat-hint" *ngIf="this.sfg1.controls.env_area_type.value">
          <p *ngIf="sfg1.controls.env_area_type.value === 1">Вид 1. Наличие длинных труб, полостей, каверн,
            заполненных горючей смесью, при сгорании которой возможно ожидать формирование турбулентных струй продуктов
            сгорания с размером не менее трех размеров детонационной ячейки данный смеси.
          </p>
          <p *ngIf="sfg1.controls.env_area_type.value === 2">Вид 2. Сильно загроможденное пространство: наличие
            полузамкнутных объемов, высокая
            плотность размещения технологического оборудования, лес, большое количество повторяющихся препятствий.
          </p>
          <p *ngIf="sfg1.controls.env_area_type.value === 3">Вид 3. Средне загроможденное пространство: отдельно стоящие
            технологические установки, резервуарный парк.
          </p>
          <p *ngIf="sfg1.controls.env_area_type.value === 4">Вид 4. Слабо загроможденное и свободное пространство.
          </p>
        </div>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Расстояние до объекта, км</mat-label>
          <input type="text" formControlName="objectDistance"
                 matInput readonly>
        </mat-form-field>

        <div class="d-flex flex-row w-100">
          <button mat-raised-button matTooltip="Рассчитать" matTooltipPosition="right" class="mx-2 btn-success"
                  [disabled]="!sfg1.valid"
                  (click)="makeTaskOne()">
            <mat-icon>calculate</mat-icon>
          </button>
        </div>
      </form>
      <ng-container *ngIf="showResult">
        <h3 class="mt-3">Ответы на задачу:</h3>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>{{this.V.description}}</mat-label>
          <input type="number"
                 [(ngModel)]="this.V.value"
                 [ngModelOptions]="{ standalone: true }"
                 matInput
                 readonly/>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>{{this.r.description}}</mat-label>
          <input type="number"
                 [(ngModel)]="this.r.value"
                 [ngModelOptions]="{ standalone: true }"
                 matInput
                 readonly/>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>{{this.Po.description}}</mat-label>
          <input type="number"
                 [(ngModel)]="this.Po.value"
                 [ngModelOptions]="{ standalone: true }"
                 matInput
                 readonly/>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>{{this.deltaP.description}}</mat-label>
          <input type="number"
                 [(ngModel)]="this.deltaP.value"
                 [ngModelOptions]="{ standalone: true }"
                 matInput
                 readonly/>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>{{this.I.description}}</mat-label>
          <input type="number"
                 [(ngModel)]="this.I.value"
                 [ngModelOptions]="{ standalone: true }"
                 matInput
                 readonly/>
        </mat-form-field>
      </ng-container>
    </mat-step>
  </mat-vertical-stepper>
</div>
