<app-loading *ngIf="spin === true"></app-loading>
<div class="m-1" style="overflow: paged-y">
  <mat-vertical-stepper [linear]="true" #stepper>
    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>
    <mat-step [stepControl]="sfg1" [optional]="false">
      <form [formGroup]="sfg1">
        <ng-template matStepLabel>
          Определение скорости распространения пожара
        </ng-template>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Выберите вид пожара</mat-label>
          <mat-select formControlName="fire_type">
            <mat-option [value]="2">Верховой</mat-option>
            <mat-option [value]="1">Низовой</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Выберите класс горимости</mat-label>
          <mat-select formControlName="fire_class">
            <mat-option [value]="1">Чистые и с примесью лиственных пород хвойные насаждения (кроме
              лиственничных)
            </mat-option>
            <mat-option [value]="2">Чистые с примесью хвойных пород лиственные насаждения, а также
              лиственничные,
              насаждения
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="mat-hint">
          <p *ngIf="sfg1.controls.fire_class.value === 1">Чистые и с примесью лиственных пород хвойные
            насаждения (кроме
            лиственничных)</p>
          <p *ngIf="sfg1.controls.fire_class.value === 2">Чистые с примесью хвойных пород лиственные
            насаждения, а также
            лиственничные, насаждения</p>
        </div>

        <div class="d-flex flex-row w-100">
          <button mat-mini-fab
                  class="mx-2 btn-primary"
                  matTooltip="Далее"
                  [disabled]="!showResultForTaskOne"
                  matStepperNext>
            <mat-icon>arrow_downward</mat-icon>
          </button>
          <button mat-raised-button class="mx-2 btn-success"
                  matTooltip="Рассчитать"
                  [disabled]="!sfg1.valid"
                  (click)="makeTaskOne()">
            <mat-icon>calculate</mat-icon>
          </button>
        </div>

        <ng-container *ngIf="showResultForTaskOne">
          <h3 class="mt-3">Ответы на первую задачу:</h3>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Скорость фронта пожара, м/ч</mat-label>
            <input type="number"
                   [(ngModel)]="frontSpeed"
                   [ngModelOptions]="{ standalone: true }"
                   matInput
                   readonly/>
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Скорость фланга пожара, м/ч</mat-label>
            <input type="number"
                   [(ngModel)]="flangSpeed"
                   [ngModelOptions]="{ standalone: true }"
                   matInput
                   readonly/>
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Скорость тыла пожара, м/ч</mat-label>
            <input type="number"
                   [(ngModel)]="backSpeed"
                   [ngModelOptions]="{ standalone: true }"
                   matInput
                   readonly/>
          </mat-form-field>
        </ng-container>
      </form>
    </mat-step>

    <mat-step [stepControl]="sfg2" [optional]="false" >
      <form [formGroup]="sfg2">
        <ng-template matStepLabel>
          Определение размеров пожара
        </ng-template>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Введите время действия пожара, ч</mat-label>
          <input type="number" formControlName="time" matInput required>
        </mat-form-field>

        <div class="alert alert-warning mb-3 text-wrap">
          Чтобы задать начальный периметр и площадь пожара воспользуйтесь
          инструментом "Полигон" в правом верхнем углу карты
        </div>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Введите начальный периметр пожара, м</mat-label>
          <input type="number" formControlName="p0" matInput readonly>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Введите начальную площадь пожара, га</mat-label>
          <input type="number" formControlName="area" matInput readonly>
        </mat-form-field>

        <div class="d-flex flex-row w-100">
          <button mat-mini-fab matStepperPrevious matTooltip="Назад" class="btn-primary">
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button mat-mini-fab
                  class="mx-2 btn-primary"
                  matTooltip="Далее"
                  [disabled]="!sfg2.valid"
                  matStepperNext>
            <mat-icon>arrow_downward</mat-icon>
          </button>
          <button mat-raised-button matTooltip="Рассчитать" class="mx-2 btn-success"
                  [disabled]="!sfg2.valid"
                  (click)="makeTaskTwo()"
          >
            <mat-icon>calculate</mat-icon>
          </button>
        </div>

        <ng-container *ngIf="showResultForTaskTwo">
          <h3 class="mt-3">Ответы на вторую задачу:</h3>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Периметр пожара, м</mat-label>
            <input type="number"
                   [(ngModel)]="perimeter"
                   [ngModelOptions]="{ standalone: true }"
                   matInput
                   readonly
            />
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Площадь пожара, га</mat-label>
            <input type="number"
                   [(ngModel)]="area"
                   [ngModelOptions]="{ standalone: true }"
                   matInput
                   readonly
            />
          </mat-form-field>
        </ng-container>
      </form>
    </mat-step>

  </mat-vertical-stepper>

  <mat-divider class="w-100 mt-2 mb-4"></mat-divider>

  <mat-vertical-stepper [linear]="false" class="mb-4" #optionalStepper>
    <mat-step [stepControl]="sfg3" [optional]="true" class="optionalStep">
      <form [formGroup]="sfg3">
        <ng-template matStepLabel>
          <div class="text-wrap">
            Определение количества непригодной к реализации древесины после верховых пожаров
          </div>
        </ng-template>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Выберите вид пожара</mat-label>
          <mat-select formControlName="fire_kind" (click)="getFiresAndTrees()" required>
            <mat-option *ngFor="let item of unsuitableFires$ | async"
                        [value]="item">{{item | firstUppercase}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Выберите вид древесины</mat-label>
          <mat-select formControlName="tree_kind" (click)="getFiresAndTrees()" required>
            <mat-option *ngFor="let item of unsuitableTrees$ | async"
                        [value]="item">{{item | firstUppercase}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="d-flex flex-row w-100">
          <button mat-mini-fab matStepperPrevious matTooltip="Назад" class="btn-primary"
          >
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button mat-mini-fab
                  class="mx-2 btn-primary"
                  matTooltip="Далее"
                  [disabled]="!sfg3.valid"
                  matStepperNext
          >
            <mat-icon>arrow_downward</mat-icon>
          </button>
          <button mat-raised-button matTooltip="Рассчитать" class="mx-2 btn-success"
                  [disabled]="!sfg3.valid"
                  (click)="makeTaskThree()"
          >
            <mat-icon>calculate</mat-icon>
          </button>
        </div>
      </form>
      <ng-container *ngIf="showResultForTaskThree">
        <h3 class="mt-3">Ответы на третью задачу:</h3>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Количество непригодной древесины, %</mat-label>
          <input type="number"
                 [(ngModel)]="count"
                 [ngModelOptions]="{ standalone: true }"
                 matInput
                 readonly/>
        </mat-form-field>
      </ng-container>
    </mat-step>

    <mat-step [stepControl]="sfg4" [optional]="true" class="optionalStep">
      <form [formGroup]="sfg4">
        <ng-template matStepLabel>
          Степень повреждения древостоя после низовых пожаров
        </ng-template>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Выберите вид древесины</mat-label>
          <mat-select formControlName="tree_kind" (click)="getDamagedTrees()" required>
            <mat-option *ngFor="let item of damagedTrees$ | async" [value]="item">{{item | firstUppercase}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Введите высоту нагара, м</mat-label>
          <input type="number" formControlName="nagar_height" matInput required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Введите средний диаметр древостоя, см</mat-label>
          <input type="number" formControlName="tree_diameter" matInput required>
        </mat-form-field>

        <div class="d-flex flex-row w-100">
          <button mat-mini-fab matStepperPrevious matTooltip="Назад" class="btn-primary"
          >
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button mat-raised-button matTooltip="Рассчитать" class="mx-2 btn-success"
                  [disabled]="!sfg4.valid"
                  (click)="makeTaskFour()"
          >
            <mat-icon>calculate</mat-icon>
          </button>
        </div>
      </form>

      <ng-container *ngIf="showResultForTaskFour">
        <h3 class="mt-3">Ответы на четвертую задачу:</h3>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Cтепень повреждения древостоя</mat-label>
          <input type="number"
                 [(ngModel)]="damageDegree"
                 [ngModelOptions]="{ standalone: true }"
                 matInput
                 readonly/>
        </mat-form-field>

        <div class="w-100">
          <mat-label class="mat-hint">Характеристика состояния древостоя</mat-label>
          <p class="mt-1">{{property}}</p>
        </div>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Отпад по числу деревьев в %</mat-label>
          <input type="text"
                 [(ngModel)]="dropOffTrees"
                 [ngModelOptions]="{ standalone: true }"
                 matInput
                 readonly/>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Отпад по запасу деревьев в %</mat-label>
          <input type="text"
                 [(ngModel)]="dropOfReserve"
                 [ngModelOptions]="{ standalone: true }"
                 matInput
                 readonly/>
        </mat-form-field>
      </ng-container>
    </mat-step>
  </mat-vertical-stepper>
</div>
